
<h2>All races view</h2>


<div id="card-container">
  {{#each allRaces}}
  <div class="card" style="width: 18rem;">
    <img src="{{imgUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{area}} | {{difficulty}} | {{length}}m</h6>
      <p class="card-text">{{description}}</p>
      <a href="/races/{{_id}}" class="btn btn-primary">See more</a>
    </div>
  </div>
  {{/each}}
</div>

