
<h2>All races view</h2>


<div id="card-container">
  {{#each allRaces}}
  <div class="card" style="width: 18rem;">
    <img src="{{imgUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{area}} | {{difficulty}} | {{length}}m</h6>
      <p class="card-text">{{description}}</p>
      <a href="/races/{{_id}}" class="btn btn-primary">See more</a>
    </div>
  </div>
  {{/each}}
</div>

{{!--   
  {{#each allRaces}}
    <li>{{name}}</li>
    <li>{{description}}</li>
    <li>{{length}}</li>
    <li>{{area}}</li>
    <li>{{difficulty}}</li>
    <li>{{imgUrl}}</li>
    <li>{{createdAt}}</li>
  {{/each}}

        "_id": "5e4a90f06d607654939de14b",
        "name": "Race03",
        "description": "Correr en Parque Manzanares.",
        "length": 10500,
        "area": "MadridRio",
        "difficulty": "Hard",
        "imgUrl": "https://saposyprincesas.elmundo.es/wp-content/uploads/2017/08/parque-lineal-del-manzanares-bofill.jpg",
        "createdAt": "2020-02-17T13:11:12.912Z",
        "updatedAt": "2020-02-17T13:11:12.912Z",
        "__v": 0 
--}}