<h1>Formulario para editar Race</h1>
<form method="POST" action="/races/edit/{{_id}}" enctype="multipart/form-data">
  {{!-- <input type="hidden" value="{{id}}" name="id"> --}}
  <input type="text" name="name" placeholder="Enter race name" value="{{name}}">
  <input type="text" name="description" placeholder="Enter race description" value="{{description}}" size="50">
  <input type="text" name="length" placeholder="Enter meters" value="{{length}}" size="10"> meters
  <div class="difficulty">
    <select name="difficulty" class="form-control" id="select-difficulty">
      <option value="Easy">Easy Race</option>
      <option value="Medium">Medium Difficulty</option>
      <option value="Hard">Hardcore</option>
    </select>
  </div>
  <div class="area">
    <select name="area" class="form-control" id="select-area">
      {{!-- <option>Select Area <Area></Area></option> --}}
      <option value="MadridRio">Madrid Rio</option>
      <option value="CasaDeCampo">Casa de Campo</option>
    </select>
  </div>
  {{!-- add drag marker coordinates --}}
  <label>Coordinates</label>
  <input type="text" name="latitude" placeholder="latitude" value="{{lat}}">
  <input type="text" name="longitude" placeholder="longitude" value="{{lng}}">
  <section>
    <img src="{{imgUrl}}">
    <h3>Change Race Photo</h3>
    <input type="file" name="imgUrl">
    <input type="hidden" name="previousImgUrl" value={{imgUrl}}>
  </section>
  <input type="submit" name="">
</form>