{{!-- <h1>Formulario para editar Race</h1>
<form method="POST" action="/races/edit/{{_id}}" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Enter race name" value="{{name}}">
  <input type="text" name="description" placeholder="Enter race description" value="{{description}}" size="50">
  <input type="text" name="length" placeholder="Enter meters" value="{{length}}" size="10"> meters
  <div class="difficulty">
    <select name="difficulty" class="form-control" id="select-difficulty">
      <option value="Easy">Easy Race</option>
      <option value="Medium">Medium Difficulty</option>
      <option value="Hard">Hardcore</option>
    </select>
  </div>
  <div class="area">
    <select name="area" class="form-control" id="select-area">
      <option value="MadridRio">Madrid Rio</option>
      <option value="CasaDeCampo">Casa de Campo</option>
    </select>
  </div>
  <label>Coordinates</label>
  <input type="text" name="latitude" placeholder="latitude" value="{{lat}}">
  <input type="text" name="longitude" placeholder="longitude" value="{{lng}}">
  <section>
    <img src="{{imgUrl}}" height="300px">
    <h3>Change Race Photo</h3>
    <input type="file" name="imgUrl">
    <input type="hidden" name="previousImgUrl" value={{imgUrl}}>
  </section>
  <input type="submit" name="">
</form> --}}



{{!-- Here we go my friend --}}
{{!-- <form method="POST" action="/races/edit/{{_id}}" enctype="multipart/form-data"></form> --}}
<form method="POST" action="/races/edit/{{_id}}" enctype="multipart/form-data" id="addraceform">
<h2>Edit Race</h2>
  <div class="form-group row">
    <label for="text3" class="col-4 col-form-label" >Race name</label> 
    <div class="col-8">
      <input id="text3" name="name" type="text" class="form-control" placeholder="Your race name" value="{{name}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-4 col-form-label">Description</label> 
    <div class="col-8">
      <input id="description" name="description" placeholder="Enter race description" value="{{description}}" class="form-control">
        {{!-- <input type="text" name="description" placeholder="Enter race description" value="{{description}}" size="50"> --}}
    </div>
  </div>

  <div class="form-group row">
    <label for="length" class="col-4 col-form-label">Distance</label> 
    <div class="col-8">
      <input id="length" name="length" type="text" class="form-control" placeholder="Enter race distance in meters" value="{{length}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="select1" class="col-4 col-form-label">Difficulty</label> 
    <div class="col-8">
      <select id="select-difficulty" name="difficulty" class="custom-select">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="select-area" class="col-4 col-form-label">Area</label> 
    <div class="col-8">
      <select id="select-area" name="area" class="custom-select">
        <option value="MadridRio">Madrid Río</option>
        <option value="CasaDeCampo">Casa de Campo</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="lat" class="col-4 col-form-label">Coordinates</label> 
    <div class="col-8">
      <input id="lat" name="latitude" placeholder="40.42161" value="{{lat}}" type="text" class="form-control" size="50">
      <input id="lng" name="longitude" placeholder="-3.75664" value="{{lng}}" type="text" class="form-control" size="50">
    </div>
  </div>
<div class="input-group">
    
  
{{!--   <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload Race Photo</span>
  </div> --}}
  <h3>Your race image </h3>
  <section>
    <div id="change-img"><img src="{{imgUrl}}" height="300px"></div>
    <h5>Change Race Photo</h5>
    <input type="file" name="imgUrl">
    <input type="hidden" name="previousImgUrl" value={{imgUrl}}>
      <div class="form-group row">
    <div class="col-md-3 offset-md-3">
      <button name="submit" type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
  </section>

  {{!-- <div><img src="{{imgUrl}}" height="200px"></div>
  <div class="custom-file">
    <input type="file" name="imgUrl" class="custom-file-input" id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01">
    <input type="hidden" name="previousImgUrl" value={{imgUrl}}>  
    <label class="custom-file-label" for="inputGroupFile01">Change Race photo</label>
  </div>
</div> --}}

</form>

{{!-- <section>
    <img src="{{imgUrl}}">
    <h3>Change Race Photo</h3>
    <input type="file" name="imgUrl">
    <input type="hidden" name="previousImgUrl" value={{imgUrl}}>
  </section> --}}